/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
/* @import "../node_modules/ag-grid-community/src/styles/ag-grid.scss"; */
/* @import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss"; */

.navbar-header {
  float: left;
}

.velocity-icon {
  float: left;
  background-repeat: no-repeat;
}

.vi-chevron {
  margin-left: 1px;
  margin-top: 6px;
  width: 17px;
  height: 11px;
}

.vi-chevron {
  width: 17px;
  height: 11px;
  background-image: url("data:image/svg+xml;utf8, \
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 19'> \
      <path fill='red' d='M 0.37,0 C0.37,0 13.83,0 13.83,0 13.83,0 30,9.57 30,9.57 30,9.57 13.60,19 13.60,19 13.60,19 0,19 0,19 0,19 16.01,9.50 16.01,9.50 16.01,9.50 0.37,0 0.37,0 z'/> \
  </svg>");
}

.vi-chevron {
  width: 30px;
  height: 20px;
}

select {
  margin-left: 4px;
  left: 130px;
  width: 120px;
  height: 30px;
  border: 1 solid #777777 30%;
  font-size: 120%;
  font-weight: 600;
}

body {
  --odd-row-background-color: #CFD8DC;
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, blottersans-serif;
}

.price-tile {
  border: solid blue 1px;
  padding: 5px;
  width: 300px;
  position: relative;
}

span {
  padding: 0 2px;
}

.price-tile-amount {
  font-size: 16px;
  vertical-align: top;
}

.price-tile-amount-tick {
  font-size: 48px;
  font-weight: bold;
}

.down {
  color: red;
}

.up {
  color: green;
}

.price-tiles {
  display: flex;
 /* or inline-flex */
  flex-wrap: wrap;
}

.price-tile-quotes {
  display: flex;
  justify-content: space-between;
}

app-price-quote {
  color: #DCDCDC;
  font-size: 76%;
  width: 144px;
}

select {
  margin-bottom: 5px;
  background: #000000;
  color: white;
  border: solid #696969 1px;
}

.price-tile {
  margin: 5px;
}

.notional {
  text-align: right;
  background: #000000;
  color: #DCDCDC;
  width: calc(100% - 2px);
  margin-bottom: 5px;
  font-size: 100%;
  font-weight: 600;
  border: solid #696969 1px;
}

.currency-picker {
  cursor: pointer;
  width: calc(100% - 50px);
}

.currency-picker:hover {
  border: solid blue 1px;
}

.notional {
  cursor: pointer;
}

.notional:hover {
  border: solid blue 1px;
}

.refresh {
  background: transparent;
  color: white;
  text-align: left;
  letter-spacing: 10px;
  cursor: pointer;
  border: solid blue 1px;
  width: 100vw;
}

app-price-quote {
  cursor: pointer;
  border: solid #696969 1px;
  justify-content: space-between;
  text-align: center;
}


app-price-quote:hover {
  border: solid blue 1px;
  background: linear-gradient(black, blue);
}

app-price-quote .price {
  display: inline;
}

.add {
  cursor: pointer; 
}

.add-inner {
  margin: 30px;
  color: green; 
}

.add-inner:hover {
  color: blue;  
}


.close {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: 1px;
  top: 10px;
  color: lightcoral;
}

.close:hover {
  color:blue;
}

.blotter {
  margin: 5px;
}

ag-grid-angular {
  height: 100vh;
  width: 100vw;
}

.rag-red {
  color: red;
}

.rag-green {
  color: green;
}
.ag-row-hover {
   /* putting in !important so it overrides the theme's styling as it hovers the row also */
   background-color: blue;
}
/* .ag-column-hover {
   background-color: orangered;
}  */