<div class="navbar-header">
  <app-currency-picker [symbol]="symbol" 
      (ccySelected)="onSelected($event)">
  </app-currency-picker>
  <div class="close" 
      (click)="onRemove(symbol)"><i class="fa fa-close"></i></div>
  <input class="notional" 
         type="number" 
         [(ngModel)]="amount" 
         placeholder="notional" 
         name="notional"
         value="amount">
  <div class="price-tile-quotes">
    <app-price-quote (execute)="postTransaction($event)" [display]="'Join Bid'"  [side]="'Buy'" [price]="bidRate"></app-price-quote>
    <app-price-quote (execute)="postTransaction($event)" [display]="'Pay Offer'" [side]="'Sell'" [price]=" termRate"></app-price-quote>
  </div>
</div>
