<div class="navbar-header">
  <div>
    <app-currency-picker [symbol]="symbol" 
    (ccySelected)="onSelected($event)">
</app-currency-picker>
<div class="bars">
  <ul id="nav">
    <li>
      <i class="fa fa-bars"></i>           
      <ul>
        <li class="close">  
          <div class="close" 
          (click)="onRemove(symbol)"><i class="fa fa-close"></i></div>
        </li>
      </ul>
    </li>                      
  </ul>
</div>

  </div>
  <div class="price-tile-quotes">
    <app-price-quote (execute)="postTransaction($event)" 
                     class="left-side"                 
                     [display]="'Join Bid'"
                     [symbol]="symbol"  
                     [side]="'Buy'" 
                     [price]="bidRate"></app-price-quote>
    <app-price-quote (execute)="postTransaction($event)" 
                     [display]="'Pay Offer'"
                     [symbol]="symbol" 
                     [side]="'Sell'" 
                     [price]=" termRate"></app-price-quote>
  </div>
  <ul>
    <li *ngFor="let rung of rungs">
      <span>{{rung.nearTenor}}</span>
      <span>{{rung.nearTenorDate | date : 'MMM dd' }}</span>
      <span>{{(rung.bidPoints).toFixed(5) }}</span>
      <span>{{(rung.askPoints).toFixed(5)}}</span>
      <span>{{rung.bidLiquidity}}</span>
      <span>{{rung.askLiquidity}}</span>
      <span>{{rung.bidAllInPoints.toFixed(5)}}</span>
      <span>{{rung.askAllInPoints.toFixed(5)}}</span>
      <span>{{rung.farTenor}}</span>
      <span>{{rung.farTenorDate | date : 'MMM dd' }}</span>
    </li>
  </ul>
  <input class="notional" 
    type="number" 
    [(ngModel)]="amount" 
    placeholder="notional" 
    name="notional"
    value="amount">
</div>
