<div class="navbar-header">
  <div>
    <app-currency-picker [symbol]="symbol" 
    (ccySelected)="onSelected($event)">
</app-currency-picker>
<div class="bars">
  <ul id="nav">
    <li>
      <i class="fa fa-bars"></i>           
      <ul>
        <li class="close">  
          <div class="close" 
          (click)="onRemove(symbol)"><i class="fa fa-close"></i></div>
        </li>
      </ul>
    </li>                      
  </ul>
</div>

  </div>
  <div class="price-tile-quotes">
    <app-price-quote (execute)="postTransaction($event)" 
                     class="left-side"                 
                     [display]="'Join Bid'"
                     [symbol]="symbol"  
                     [side]="'Buy'" 
                     [price]="bidRate"></app-price-quote>
    <app-price-quote (execute)="postTransaction($event)" 
                     [display]="'Pay Offer'"
                     [symbol]="symbol" 
                     [side]="'Sell'" 
                     [price]=" termRate"></app-price-quote>
  </div>
  <div class="column-header">
    <span class="col1">N.Tenor/Fix</span>
    <span class="col2">Buy-Sell USD</span>
    <span class="col3">Sell-Buy USD</span>
    <span class="col4">F.Tenor/Fix</span>
  </div>
  <div>
    <ul class="rungs">
      <li class="container" *ngFor="let rung of rungs">
        <div class="flex-column"
        >
        <ladder-tenor class="col1" [tenor]="rung.nearTenor" [tenorDate]="rung.nearTenorDate" [tenorFixingDate]="rung.nearTenorFixingDate"></ladder-tenor>
        <ladder-quote class="col2"
          [side]="'Buy'" 
          [liquidity]="rung.bidLiquidity"
          [points]="rung.bidPoints"
          [allInPoints]="rung.bidAllInPoints">
        </ladder-quote>
        <ladder-quote  class="col3"
          [side]="'Sell'" 
          [liquidity]="rung.askLiquidity"
          [points]="rung.askPoints"
          [allInPoints]="rung.askAllInPoints">
        </ladder-quote>
        <ladder-tenor class="col4" [tenor]="rung.farTenor" [tenorDate]="rung.farTenorDate"></ladder-tenor>
      </div>
      
      </li>
    </ul>
  </div>
  
  <input class="footer notional" 
    type="number" 
    [(ngModel)]="amount" 
    placeholder="notional" 
    name="notional"
    value="amount">
</div>
