body {
    --odd-row-background-color: #CFD8DC;
    --border-color: #00BDF0;
     --backgroundOne: #000000;
    --backgroundTwo: #111111;
    background: var(--backgroundOne); 
    color: #DDDDDD;
    /* color: #DDDDDD;
    font-family: Arial, Helvetica, blottersans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  }
  
  .navbar-header {
    float: none;
  }
  
  .flex-column {
    display: flex;
    justify-content: flex-start;
  }
  
  .velocity-icon {
    float: none;
    background-repeat: no-repeat;
  }
  
  .vi-chevron {
    margin-left: 1px;
    margin-top: 1px;
    width: 17px;
    height: 11px;
  }
  
  .vi-chevron {
    width: 17px;
    height: 11px;
    background-image: url("data:image/svg+xml;utf8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 19'> \
        <path fill='rgb(220,25,24)' d='M 0.37,0 C0.37,0 13.83,0 13.83,0 13.83,0 30,9.57 30,9.57 30,9.57 13.60,19 13.60,19 13.60,19 0,19 0,19 0,19 16.01,9.50 16.01,9.50 16.01,9.50 0.37,0 0.37,0 z'/> \
    </svg>");
  }
  
  .vi-chevron {
    width: 30px;
    height: 11px;
    margin-top: 7px;
  }
  
  select {
    margin-left: 4px;
    left: 130px;
    width: 120px;
    height: 30px;
    border: 1 solid #777777 30%;
    font-size: 120%;
    font-weight: 600;
  }
  
  .price-tile {
    border: solid 0.2px rgba(0, 189, 240, 0.7);
    padding: 5px;
    width: 300px;
    position: relative;
  }
  
  span {
    padding: 0 2px;
  }
  
  .price-tile-pips-sm {
    color: #ffffff;
    font-size: 16px;
    vertical-align: top;
  }
  
  .price-tile-pips-lg {
    font-size: 48px;
    font-weight: bold;
  }
  
  ul {
  list-style-type: none;
  }
  
  .down {
    color: red;
  }
  
  .up {
    color: green;
  }
  
  .flex-row {
    display: flex;
    flex-direction: column;
  }
  
  .price-tiles {
    display: flex;
  /* or inline-flex */
    flex-wrap: wrap;
  }
  
  .price-tile-quotes {
    display: flex;
    justify-content: space-between;
  }
  
  .tenor-div {
    height: 40px;
    width: 70px;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
    &:hover {
      background-color: rgba($color: #7f7f7f, $alpha: 0.3);
    }
  }
  
  .fixing-date {
    opacity: 0.5;
    font-size: 10px;
   }
  
   .liquidity {
      height: 10px;
      width: 25px;
      background-color: #000000;
      opacity: 0.8;
      color: #FFFFFF;
      font-size: 8px;
      letter-spacing: 0;
      line-height: 9px;
      text-align: center;
   }
  
   .points {
      height: 40px;
      width: 80px;
      background-color: #111111;
      font-weight: bold;
      color: #01CD01;
      font-size: 15px;
      letter-spacing: 0;
      line-height: 17px;
      text-align: center;
   }
  
   .float-right {
    float: right;
   }
  
   .float-left {
    float: left;
   }
  
   .rfs {
    height: 40px;
    width: 80px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
  }
  
   .all-in {
      height: 14px;
      width: 80px;
      background-color: #1E1E1E;
      opacity: 0.5;
      font-size: 10px;
      letter-spacing: 0;
      line-height: 11px;
      text-align: center;
  }
  
  .left-side {
    margin-right: 1px;
  }
  
  app-price-quote {
    font-size: 76%;
    width: 100%;
  }
  
  select {
    margin-bottom: 5px;
    background: #000000;
    color: #ffffff;
    border: solid #696969 1px;
  }
  
  .price-tile {
    margin: 5px;
  }
  
  .notional {
    text-align: right;
    background: #000000;
    color: #DDDDDD;
    width: calc(100% - 2px);
    margin-top: 3px;
    font-size: 100%;
    font-weight: 600;
    border: solid #4A4A4A 1px;
    letter-spacing: 1px;
  }
  
  .currency-picker {
    cursor: pointer;
    border: transparent;
    outline: transparent;
    font-size: 15px;
    margin-top: -4px;
    margin-left: -11px;
  }
  
  .currency-picker:hover {
    border: (--border-color) 1px;
  }
  
  .notional {
    cursor: pointer;
  }
  
  .notional:hover {
    border: solid var(--border-color) 1px;
  }
  
  .refresh {
    background: transparent;
    color: white;
    text-align: left;
    letter-spacing: 10px;
    cursor: pointer;
    border: solid 0.2px var(--border-color) 1px;
    width: 100vw;
  }
  
  app-price-quote {
    cursor: pointer;
    border: transparent;
    background-color: var(--backgroundTwo);
    justify-content: space-between;
    text-align: center;
  }
  
  app-price-quote:hover {
    border: solid var(--border-color) 0.2px;
    background: linear-gradient(black, var(--border-color));
    cursor: url(./assets/Target.cur), auto;
  }
  
  app-price-quote .price {
    display: inline;
    word-spacing: -10px;
  
  }
  
  .add {
    cursor: pointer; 
  }
  
  .add-inner {
    margin: 30px;
    color: green; 
  }
  
  .add-inner:hover {
    color: var(--border-color);  
  }
  .bars {
    cursor: pointer;
    padding: 1px;
    padding-right: 7px;
    position: absolute;
    right: 1px;
    top: 0px;
    color: rgba(255, 255, 255, 0.50);
  }
  
  .bars:hover {
    color: rgba(13, 189, 255, 0.80)
  }
  
  .close {
    cursor: pointer;
    padding: 4px;
    position: absolute;
    color: lightcoral;
    left: -2px;
    top: -2px;
  }
  
  .close:hover {
    color:var(--border-color);
  }
  
  .blotter {
    margin: 5px;
  }
  
  ag-grid-angular {
    height: 100vh;
    width: calc(100vw)
  }
  .ag-body {
    height: 100%;
  }
  
  .ag-body-container {
    width: 100%;
  }
  
  .ag-body-container:blotter-cell-leftPad {
      padding-left: 5px;  
  }
  
  .ag-header-cell {
    color: #a3a3a3;
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    font-weight: 400;
    padding-top: 5px;  
  }
  
  .ag-header-cell:first-child {
      padding-left: 5px;
  }
  
  .ag-row {
    border-top: 1px solid rgba(74, 74, 74, 0.40);
    -moz-box-shadow: 0 1px 0 0 rgba(74, 74, 74, 0.40);
      -webkit-box-shadow: 0 1px 0 0 rgba(74, 74, 74, 0.40);
      box-shadow: 0  1px 0 0 rgba(74, 74, 74, 0.40);
  }
  
  .ag-row-selected {
    background-color: 0.2px rgba(13, 189, 255, 0.65);
    box-shadow:none;
  }
  .ag-row:hover {
    border-top: 1px solid rgba(13, 189, 255, 0.80);
    border-bottom: 1px solid rgba(13, 189, 255, 0.80) !important;
    box-shadow:none;
    font-size: 110%;
  }
  
  .ag-row:last-of-type {
    border-bottom: 1px solid  #4a4a4a;
  }
  .ag-row:last-of-type:hover {
    background:  #0dbdff !important;
  }
  
  .ag-cell {
    line-height: 20px;
    padding-top: 6px;
  }
  .ag-cell:focus {
      outline-color: transparent;  
  }
  
  .ag-symbol {
    word-spacing: -4px;
  }
  
  .ag-side:hover {
    font-size: 110%;
  }
  
  .rag-red {
    color: red;
  }
  
  .rag-green {
    color: green;
  }
  
  hr {
    border:solid var(--border-color) 1px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .rag-symbol {
    color: whitesmoke;
    padding: 0;
    word-spacing: -4px;
    font-size: 110%;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  #nav {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
    }
  
  #nav li {
    display:block;
    position:relative;
    float:left;
    }
  
  #nav li a {
    display:block;
    padding:0;
    text-decoration:none;
    width:200px; /* this is the width of the menu items */
    line-height:35px; /* this is the hieght of the menu items */
    color:#ffffff; /* list item font color */
    }
        
  #nav li li a {font-size:80%;} /* smaller font size for sub menu items */
    
  #nav li:hover {border:1px white;} /* highlights current hovered list item and the parent list items when hovering over sub menues */
  
  
  
  /*--- Sublist Styles ---*/
  #nav ul {
    position:absolute;
    padding:0;
    left:0;
    display:none; /* hides sublists */
    }
  
  #nav li:hover ul ul {display:none;} /* hides sub-sublists */
  
  #nav li:hover ul {display:block;} /* shows sublist on hover */
  
  #nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px; /* this should be the same width as the parent list item */
    margin-top:-35px; /* aligns top of sub menu with top of list item */
    }
  